html {
  height: 100%;
  width: 100%;
}

li {
  display: inline;
  font-size: 20px;
  border:solid;
  padding:5px;
  border-radius:15px;
  border-color: #134611;
  background-color:#9ABD97;
  color:black;
}

.navBar1{
        border-color:black;
      padding:6px;
        background-color: #8CAE68;
         justify-content:space-between;
         display:flex;
         border-radius: 5px;
  font-family: 'Gochi Hand', cursive;
          }


body{background-color:#4F772D;}

h1{border:solid;
  border-color: #31572C;
  background-color: #a1bd61;
display: flex;
  justify-content: center;
  border-radius:10px;
  font-size: 40px;
  color:#132A13;
  font-family: 'Gochi Hand', cursive;}



img{width:300px;}







div.scroll-container {
  background-color:#a1bd61;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  border:solid;
  border-radius:25px;
  border-color:#244020;
  border-width:7px;
}

div.scroll-container img {
  padding: 10px;
}
p{ border:solid;
 border-radius:25px;
 border-color:#244020;
 border-width:7px;
 background-color:#a1bd61;
 padding:10px;
 font-family: 'Gochi Hand', cursive;
 font-size:20px;}
